{% extends '__base.html' %}
{% block content %}


<main class="content">
    <div class="container-fluid p-0">

        <h1 class="h3 mb-3">Aygıtlar</h1>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0"></h5>
                    </div>
                    <div class="card-body">

                            <canvas id="myChart" width="400" height="100"></canvas>
                            <script>
                                const ctx = document.getElementById('myChart').getContext('2d');
                                const myChart = new Chart(ctx, {
                                    type: 'polarArea',
                                    data: {
                                        labels: [
                                            {% for device in antenna_devices %}
                                            '{{device.device_name}} | {{device.members | count}}',
                                            {% endfor %}
                                        ],
                                        datasets: [{
                                            label: 'My First Dataset',
                                            data: [
                                                 {% for device in antenna_devices %}
                                            '{{device.members | count}}',
                                            {% endfor %}
                                            ],
                                            backgroundColor: [
                                                'rgb(255, 99, 132)',
                                                'rgb(75, 192, 192)',
                                                'rgb(255, 205, 86)',
                                                'rgb(201, 203, 207)',
                                                'rgb(54, 162, 235)'
                                            ]
                                        }]
                                    },
                                    options: {
                                        scales: {
                                            y: {
                                                beginAtZero: true
                                            }
                                        }
                                    }
                                });
                            </script>
                   


                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        Anten Ekle
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                        aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                                    <button type="button" class="btn btn-primary">Ekle</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Antenna Devices -->
                    <div class="row my-4">

                        {% for device in antenna_devices %}
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-title text-center"></div>
                                <div class="card-body text-center">
                                    <h2>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#device-id-{{device.id}}">
                                                                                {{ device.device_name }}

                                    </button>
                                    
                                    <!-- Modal -->
                                    <div class="modal fade" id="device-id-{{ device.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">{{ device.device_name }}</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <table class="table table-responsive">
                                                        <thead>
                                                            <tr>
                                                            <th>ID</td>
                                                            <th>Kullanici Ismi</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            {% for user in device.members %}
                                                            <tr>
                                                                <th>{{user.id}}</th>
                                                                <th>{{ user.username }}</th>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                
                                                    </table>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                       
                                    </h2>
                                   Toplam {{device.members | count}} kullanici

                                 
                                  

                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</main>


{% endblock %}