{% extends "__base.html" %}
{% block content %}

<main class="content">
	<div class="container-fluid p-0">

		<div class="mb-3">
			<h1 class="h3 d-inline align-middle">Kullanıcı Kayıt Formu</h1>
			<form action="" method="post">
				{{ form.hidden_tag() }}
		</div>
		<div class="row">
			<div class="col-12 col-lg-6">
				<div class="card">
					<div class="card-header">
						<h5 class="card-title mb-0">Kişisel Bilgiler</h5>
					</div>
					<div class="card-body">

						<div class="form-group">
							<label>Kullanıcı Adı <small>Not: İsim ve soyisim birlikte yazılabilir</small></label>
							{{ form.username(class='form-control') }}
						</div>
						<br>


						<!-- Form Row 1 -->
						<div class="row">

							<div class="form-group col-6">
								<label>İsim</label>
								{{ form.name(class='form-control', placeholder='İsim') }}
							</div>


							<div class="form-group col-6">
								<label>Soyisim</label>
								{{ form.lastname(class='form-control', placeholder='Soyisim') }}
							</div>

						</div>
						<br>
						<!-- Form Row 2 -->
						<div class="row">

							<div class="form-group col-6">
								<label>Email</label>
								{{ form.email(class='form-control', placeholder='Email') }}
							</div>

							<div class="form-group col-6">
								<label>Telefon NO</label>
								{{ form.phone_number(class='form-control', placeholder='Telefon NO') }}
							</div>

						</div>



						<br>

					</div>
				</div>

				<div class="card">
					<div class="card-header">
						<h5 class="card-title mb-0">Bölge</h5>
					</div>

					<div class="card-body">
						<label>Bölge <small class="text-muted">Lütfen bir bölge seçiniz</small></label>
						{{ form.region(class='form-control') }}
					</div>
				</div>

				<div class="card">
					<div class="card-header">
						<h5 class="card-title mb-0">Aygıt Bilgileri</h5>
					</div>
					<div class="card-body">

						<div class="row">
							<div class="col-6">
								<div class="form-group">

									<label>Kullandığı Anten</label>
									{{ form.antenna_device(class='form-control') }}
								</div>
							</div>

							<div class="col-6">
								<div class="form-group">

									<label>Bağlı Olduğu Anten<small>(Verici)</small></label>
									{{ form.ap_device(class='form-control') }}
								</div>
							</div>

						</div>

						<br>



						<div class="row">
							<div class="col-6">
								<div class="form-group">
									<label>Ip Address</label>
									{{ form.ipv4(class='form-control', placeholder='Ip Address') }}
								</div>
							</div>

							<div class="col-6">

								<div class="form-group">
									<label>MAC Address</label>
									{{ form.mac(class='form-control', placeholder='MAC Address') }}
								</div>

							</div>


						</div>

						<br>
						<div class="d-grid">

							{{ form.submit(class='btn btn-primary btn-lg ') }}
						</div>



					</div>
				</div>


			</div>
			</form>

			<div class="col-12 col-lg-6">
				<div class="card">
					<div class="card-header">
						<h5 class="card-title mb-0"></h5>
					</div>
					<div class="card-body my-3">
						<img class="img-fluid" src="{{ url_for('static', filename='img/user_register.png') }}" </div>

					</div>




				</div>
			</div>

		</div>
</main>


{% endblock %}