{% extends '__base.html' %}
{% block content %}


<main class="content">
    <div class="container-fluid p-0">

        <h1 class="h3 mb-3">Blank Page</h1>

        <div class="row">
            <div class="col-12">

                <div class="card">

                    <div class="card-header">
                        <h5 class="card-title mb-0">Bölgeler</h5>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">
                            Bölge Ekle
                        </button>
                        <br>
                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Bölge Ekle</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <!-- Start Form -->
                                    <form action="{{ url_for('form.add_region') }}" method="post">
                                        {{ form.hidden_tag() }}
                                        <div class="modal-body">


                                            <div class="form-group">
                                                <label>Bölge ismi</label>
                                                {{ form.region(class='form-control') }}
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Kapat</button>
                                                {{ form.submit(class="btn btn-primary") }}
                                            
                                        </div>
                                    </form>
                                    <!-- End Form -->

                                </div>
                            </div>
                        </div>
                        <!-- End Button trigger modal -->
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="row">
                                <div class="col-4">
                                    <div class="list-group" id="list-tab" role="tablist">
                                        {% for region in regions %}
                                        <a class="list-group-item list-group-item-action" id="list-home-list" data-bs-toggle="list"
                                            href="#list-{{region.id}}" role="tab" aria-controls="list-home">{{region.region | title}}</a>
                                        {% endfor %}
                                      
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="tab-content" id="nav-tabContent">
                                        {% for region in regions %}
                                        <div class="tab-pane fade show" id="list-{{region.id}}" role="tabpanel" aria-labelledby="list-home-list">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Kullanıcı Adı</th>
                                                        <th scope="col">*</th>

                                                        
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <h5 class='text-center'>Toplam: {{ region.members | length }}</h5>

                                                    <a href="{{ url_for('form.delete_region', region_id=region.id) }}" class="btn btn-danger btn-small">
                                                        Bolge Sil
                                                    </a>
                                                    {% for member in region.members %}
                                                    
                                                    <tr>
                                                        <td>{{ member.username }}</td>
                                                        <td>
                                                            <a href="{{ url_for('form.edit_member', member_id=member.id) }}">
                                                                <i class="fa-solid fa-pen-to-square"></i>
                                                            </a>
                                                        </td>

                                    
                                                    </tr>
                                                    
                                                    {% endfor %}
                                                    
                                                  
                                                </tbody>
                                            </table>
                                          
                                        </div>
                                        {% endfor %}
                                       
                                    </div>
                                </div>
                            </div>
                            


                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</main>

{% endblock %}